{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    {% if current_user.role == 'user' %}
        <a class="btn btn-primary mt-3" href="{{ url_for('view_orders') }}">View Orders</a>
    {% endif %}
    {% if current_user.role == 'inventory_manager' %}
        <a class="btn btn-info mt-3" href="{{ url_for('inventory') }}">View Inventory</a>
        <a class="btn btn-warning mt-3" href="{{ url_for('alerts') }}">View Alerts</a>
    {% endif %}

    {% if current_user.role == 'supplier' %}
        <a class="btn btn-primary mt-3" href="{{ url_for('add_product') }}">Add Product</a>
    {% endif %}
{% endblock %}
