{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Inventory</h1>
        <a class="btn btn-danger" href="{{ url_for('dashboard') }}">Go Back</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Threshold</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.threshold }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
